<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <!--Tarjeta de peliculas-->
        <section class="py-2 pt-5" th:fragment="tarjetaPeliculas">
            <div class="container">
                <div class="row g-4">
                    <div th:each="p : ${peliculas}" class="col-lg-4 col-md-12">
                        <div class="card content-card h-100">
                            <div class="text-center p-3">
                                <img th:src="${p.ruta_imagen}" alt="Película" class="img-fluid rounded" style="max-height: 200px; object-fit: cover;">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">[[${p.titulo}]]</h5>
                                <p class="card-text">[[${p.descripcion}]]</p>
                                <small class="text-muted">Publicación: [[${p.año}]]</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
