<!DOCTYPE html>
<html>
    <head th:replace="~{layout/plantilla :: head}"/>
    <body>

        <!--Tarjeta de peliculas-->
        <section class="py-5" th:fragment="tarjetaPeliculas" >
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="section-title mb-4" th:text="#{pelicula.catalogo}"></h2>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6" th:each="p : ${peliculas}">
                        <div class="card content-card h-100">
                            <div class="text-center p-3">
                                <img th:src="${p.ruta_imagen}" alt="Serie" class="img-fluid rounded" style="max-height: 200px; object-fit: cover;">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${p.titulo}">Título</h5>
                                <p class="card-text" th:text="${p.descripcion}">Descripción</p>
                                <small class="text-muted">Publicación: <span th:text="${p.año}"></span></small><br>
                                <small class="text-muted">Categoría: <span th:text="${p.categoria.nombre}"></span></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--FORM para agregar peliculas-->
        <section class="container pt-5" th:fragment="agregarPelicula" 
                 th:if="${esAdmin}">
            <div class="card form-container">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                    </div>
                    <form th:action='@{/pelicula/guardar}'
                          th:object='${pelicula}'
                          method="post"
                          enctype="multipart/form-data"
                          id="login-form">
                        <div class="card-body p-4">

                            <div class="mb-3">
                                <h6 class="mb-4 input-group-custom"><label>[[#{pelicula.titulo}]]</label></h6>
                                <input type="text" class="form-control" name="titulo">
                            </div>

                            <div class="mb-4 input-group-custom">
                                <h6 class="card-title"><label>[[#{pelicula.año}]]</label></h6>
                                <input type="number" class="form-control" name="año">
                            </div>

                            <div class="mb-4 input-group-custom">
                                <h6 class="card-title"><label>[[#{pelicula.descripcion}]] </label></h6>
                                <textarea name="descripcion" class="form-control"></textarea>
                            </div>

                            <div class="mb-4 input-group-custom">
                                <h6 class="card-title"><label>[[#{pelicula.imagen}]]</label></h6>
                                <input type="file" class="form-control" name="imagenFile"
                                       onchange="cargarImagen(this);">
                                <img id="blash" src="#" alt="..." height="200"/>
                            </div>

                            <div class="mb-4 input-group-custom">
                                <h6 class="card-title"><label>[[#{categoria}]]</label></h6>
                                <select th:field="*{categoria.id_categoria}" class="form-select" aria-label="Default select example">
                                    <option th:each="categoria : ${categorias}" 
                                            th:value="${categoria.id_categoria}" 
                                            th:text="${categoria.nombre}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-custom-primary mb-3" th:text="#{boton.guardar}"></button>
                    </form>
                </div>
            </div>

        </section>

    </body>
</html>
