<!DOCTYPE html>
<html>

    <body>
        <section class="content-section" th:fragment="tarjetaPeliculas">
            <div class="content-row">
                <h2 class="section-title" th:text="#{content.peliculas.populares}"></h2>
                <div class="content-slider">
                    <div class="content-card" th:each="s : ${series}">
                        <figure>
                            <div class="d-flex justify-content-center">
                                <img th:src="${s.ruta_imagen}" alt="..." width="200"/>
                            </div>
                            <figcaption class="d-flex justify-content-between">
                                <span>Titulo [[${s.titulo}]]</span>
                                <span>(Publicación: [[${s.año}]])</span>
                            </figcaption>
                        </figure>

                        <div class="card-content">
                            <h3 class="card-title" th:text="#{pelicula.accion.titulo}"></h3>
                            <p class="card-description" th:text="#{pelicula.accion.descripcion}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
