<!DOCTYPE html>
<html>
    <head th:replace="~{layout/plantilla :: head}"/>
    <body>
        <!--FORM para agregar series-->
        <div class="container pt-5" th:fragment="agregarSerie" th:if="${esAdmin}">
            <div class="card form-container">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                    </div>
                    <form th:action='@{/serie/guardar}'
                          th:object='${serie}'
                          method="post"
                          enctype="multipart/form-data"
                          id="login-form">
                        <div class="card-body p-4">

                            <div class="mb-3">
                                <h6 class="mb-4 input-group-custom"><label>[[#{pelicula.titulo}]]</label></h6>
                                <input type="text" class="form-control" name="titulo">
                            </div>

                            <div class="mb-4 input-group-custom">
                                <h6 class="card-title"><label>[[#{serie.año}]]</label></h6>
                                <input type="number" class="form-control" name="año">
                            </div>

                            <div class="mb-4 input-group-custom">
                                <h6 class="card-title"><label>[[#{serie.temp}]]</label></h6>
                                <input type="number" class="form-control" name="temporadas">
                            </div>

                            <div class="mb-4 input-group-custom">
                                <h6 class="card-title"><label>[[#{serie.epi}]]</label></h6>
                                <input type="number" class="form-control" name="episodios">
                            </div>

                            <div class="mb-4 input-group-custom">
                                <h6 class="card-title"><label>[[#{serie.descripcion}]] </label></h6>
                                <textarea name="descripcion" class="form-control"></textarea>
                            </div>

                            <div class="mb-4 input-group-custom">
                                <h6 class="card-title"><label>[[#{serie.imagen}]]</label></h6>
                                <input type="file" class="form-control" name="imagenFile"
                                       onchange="cargarImagen(this);">
                                <img id="blash" src="#" alt="..." height="200"/>
                            </div>

                            <div class="mb-4 input-group-custom">
                                <h6 class="card-title"><label>[[#{categoria}]]</label></h6>
                                <select th:field="*{categoria.id_categoria}" class="form-select" aria-label="Default select example">
                                    <option th:each="categoria : ${categorias}" 
                                            th:value="${categoria.id_categoria}" 
                                            th:text="${categoria.nombre}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-custom-primary mb-3" th:text="#{boton.guardar}"></button>
                    </form>
                </div>
            </div>
        </div>

        <!--SECT para tarjetas-->
        <section class="py-5" th:fragment="tarjetaSeries">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="section-title mb-4" th:text="#{serie.catalogo}"></h2>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6" th:each="s : ${series}">
                        <div class="card content-card h-100">
                            <div class="text-center p-3">
                                <img th:src="${s.ruta_imagen}" alt="Serie" class="img-fluid rounded" style="max-height: 200px; object-fit: cover;">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${s.titulo}">Título</h5>
                                <p class="card-text" th:text="${s.descripcion}">Descripción</p>
                                <small class="text-muted">Publicación: <span th:text="${s.año}"></span></small><br>
                                <small class="text-muted">Categoría: <span th:text="${s.categoria.nombre}"></span></small><br>
                                <small class="text-muted">Temporadas: <span th:text="${s.temporadas}"></span> -</small>
                                <small class="text-muted">Episodios: <span th:text="${s.episodios}"></span></small>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
