<!DOCTYPE html>
<html>
    <head th:replace="~{layout/plantilla :: head}"/>
    <body>
        <main>
            <!--Formulario de login-->
            <div th:fragment="form-login" class="container-fluid vh-100 d-flex align-items-center justify-content-center">
                <div class="row w-100 justify-content-center">
                    <div class="col-11 col-sm-8 col-md-6 col-lg-4">
                        <div class="card form-container">
                            <div class="card-body p-4">
                                <div class="text-center mb-4">
                                    <h1 class="form-title" th:text="#{app.logo}"></h1>
                                    <p class="form-subtitle" th:text="#{hero.subtitle}"></p>
                                </div>

                                <form id="login-form" th:action="@{/usuario/login}" method="post">
                                    <div class="mb-3">
                                        <div class="input-group-custom">
                                            <span class="input-icon">📧</span>
                                            <input type="email" name="correo" class="form-control form-input" 
                                                   placeholder=" " required th:value="${correo}">
                                            <label class="input-floating-label">Correo electrónico</label>
                                        </div>
                                    </div>
                                    <!-- Login por contrasenna -->
                                    <div class="mb-4" id="passwordMode">
                                        <div class="input-group-custom">
                                            <span class="input-icon">🔒</span>
                                            <input type="password" name="password" class="form-control form-input" 
                                                   placeholder=" ">
                                            <label class="input-floating-label">Contraseña</label>
                                        </div>
                                    </div>

                                    <!-- Login por voz -->
                                    <div class="mb-4 d-none" id="vozMode">
                                        <div class="input-group-custom mb-2">
                                            <span class="input-icon">🔒</span>
                                            <input type="text" name="palabraClave" id="palabraClaveUser" class="form-control form-input" 
                                                   placeholder=" " readonly autocomplete="off">
                                            <label class="input-floating-label">Palabra clave</label>
                                        </div>
                                        <button type="button" class="btn btn-custom-primary w-100 mb-3" id="GrabarVoz">
                                            Dicte su palabra clave
                                        </button>
                                    </div>

                                    <button type="submit" class="btn btn-custom-primary w-100 mb-3" th:text="#{usuario.boton.login}">Iniciar Sesión</button>

                                    <a href="/oauth2/authorization/google" id="google-signin-btn" class="btn btn-outline-danger w-100 mb-3">
                                        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" 
                                             alt="Google Logo" width="20" class="me-2">
                                        Ingresar con Google
                                    </a>
                                </form>

                                <button type="button" class="btn btn-outline-danger w-100 mb-3"
                                        id="ButtonToggleModoLogin">
                                    Ingresar con voz (Palabra clave)
                                </button>

                                <div class="text-center">
                                    <a th:href="@{/}" class="btn btn-outline-light" th:text="#{volver.inicio}">Volver al inicio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Formulario de 2FA-->
            <div th:fragment="form-2FA" class="container-fluid vh-100 d-flex align-items-center justify-content-center">
                <div class="row w-100 justify-content-center">
                    <div class="col-11 col-sm-8 col-md-6 col-lg-4">
                        <div class="card form-container">
                            <div class="card-body p-4">

                                <div class="d-flex gap-2 mb-3">
                                    <button type="button" class="btn btn-outline-light w-50" id="btn-Sms">SMS</button>
                                    <button type="button" class="btn btn-outline-light w-50" id="btn-Voz">Voz</button>
                                </div>


                                <form id="sms-form" th:action="@{/usuario/2fa}" method="post">
                                    <div class="mb-3">
                                        <div class="input-group-custom">
                                            <span class="input-icon"></span>
                                            <input type="text" name="codigoIngresado" class="form-control form-input" 
                                                   required placeholder="Código 6 dígitos" maxlength="6">
                                        </div>
                                        <button type="submit" class="btn btn-custom-primary w-100 mb-3">Verificar</button>
                                    </div>
                                </form>

                                <form th:action="@{/usuario/2fa/voz}" method="post" enctype="multipart/form-data" class="d-none">
                                    <input type="file" name="audio" id="audioFile" hidden>

                                    <p>Repita: El carro verde viaja muy veloz.</p>
                                    <button type="button" class="btn btn-custom-primary w-100 mb-2" id="btnRecord2fa">
                                        Grabar voz (3s)
                                    </button>

                                    <button type="submit" class="btn btn-custom-secondary w-100" id="btnVerify2fa" disabled>
                                        Verificar voz
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Formulario de registro-->
            <div th:fragment="form-registro" class="container-fluid min-vh-100 d-flex align-items-center justify-content-center py-5">
                <div class="row w-200 justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        <div class="card form-container">
                            <div class="card-body p-4">
                                <div class="text-center mb-4">
                                    <h1 class="form-title" th:text="#{app.logo}"></h1>
                                    <p class="form-subtitle" th:text="#{hero.subtitle}"></p>
                                </div>

                                <form id="register-form" th:action="@{/usuario/registro}" method="post" th:object="${usuario}" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <div class="input-group-custom">
                                                <span class="input-icon">👤</span>
                                                <input type="text" th:field="*{nombre}" class="form-control form-input" 
                                                       placeholder=" " required>
                                                <label class="input-floating-label">Nombre</label>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-4">
                                            <div class="input-group-custom">
                                                <span class="input-icon">👤</span>
                                                <input type="text" th:field="*{apellido_1}" class="form-control form-input" 
                                                       placeholder=" " required>
                                                <label class="input-floating-label">Primer apellido</label>
                                            </div>
                                        </div>



                                        <div class="col-12 mb-4">
                                            <div class="input-group-custom">
                                                <span class="input-icon">📞</span>
                                                <input type="text" th:field="*{telefono}" class="form-control form-input" 
                                                       placeholder=" " required>
                                                <label class="input-floating-label">Teléfono</label>
                                            </div>
                                        </div>

                                        <div class="col-12 mb-4">
                                            <div class="input-group-custom">
                                                <span class="input-icon">📧</span>
                                                <input type="email" th:field="*{correo}" class="form-control form-input" 
                                                       placeholder=" " required>
                                                <label class="input-floating-label">Correo electrónico</label>
                                            </div>
                                        </div>

                                        <div class="col-12 mb-4">
                                            <div class="input-group-custom">
                                                <span class="input-icon">🔒</span>
                                                <input type="password" th:field="*{password}" class="form-control form-input" 
                                                       placeholder=" " required>
                                                <label class="input-floating-label">Contraseña</label>
                                            </div>
                                        </div>

                                        <div class="col-12 mb-4">
                                            <div class="input-group-custom">
                                                <span class="input-icon">🔒</span>
                                                <input type="text" id="palabraClaveUser" th:field="*{palabraClave}" class="form-control form-input" 
                                                       placeholder=" " readonly>
                                                <label class="input-floating-label">Palabra clave</label>
                                            </div>
                                            <button type="button" class="btn btn-custom-secondary w-100 mb-4" onclick="RecordVoz('palabraClaveUser')">Registre su palabra 'Clave' para el login.</button>
                                        </div>

                                        <div class="col-12 mb-4">
                                            <div class="input-group-custom">
                                                <span class="input-icon">...</span>
                                                <input type="file" id="vozEnrollFile" name="audio" hidden accept="audio/*">
                                                <p>Repita: El carro verde viaja muy veloz.</p>
                                            </div>
                                            <button type="button" class="btn btn-custom-secondary w-100 mb-4" id="btnRecordEnroll">Registre su voz utilizada para el 2FA</button>

                                            <small id="enrollStatus" class="text-white"></small>
                                        </div>
                                        <button type="submit" class="btn btn-custom-primary w-100 mb-3" th:text="#{usuario.boton.registro}"></button>
                                    </div>
                                </form>
                            </div>
                            <div class="text-center">
                                <a th:href="@{/}" class="btn btn-outline-light" th:text="#{volver.inicio}">Volver al inicio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Formulario para página "perfil" -->
            <div th:fragment="form-perfil" class="container-fluid min-vh-100 d-flex align-items-center justify-content-center py-5">
                <div class="row w-100 justify-content-center">
                    <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        <div class="card form-container">
                            <div class="card-body p-4">
                                <div class="text-center mb-4">
                                    <h1 class="form-title" th:text="#{usuario.pefil}"></h1>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="input-group-custom">
                                        <span class="input-icon">📧</span>
                                        <h2 class="form-input"
                                            th:text="${usuario.correo}"></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>  
    </body>
</html>
